
<div ng-if="$ctrl.myInfo" id="my-info">
  <fieldset>
    Contact information:
    <ul>
      <li>Name: {{$ctrl.myInfo.name}}</li>
      <li>Surname: {{$ctrl.myInfo.surname}}</li>
      <li>Email: {{$ctrl.myInfo.email}}</li>
      <li>Phone: {{$ctrl.myInfo.phone}}</li>
    </ul>
  </fieldset>
  <fieldset ng-if="$ctrl.myInfo.favoriteData">
    <legend>Favorite food:</legend>
    <menu-item menu-item="$ctrl.myInfo.favoriteData"/>
  </fieldset>

</div>
<div ng-if="$ctrl.myInfo==undefined">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
