<legend>Sign Up form</legend>
  <form name="signupForm" novalidate>
      Name:
      <input type="text" name="name" placeholder="Give us your name"
      ng-model="ctrl.item.name"
      required
      minlength="2"
      ng-maxlength="20">
      <span ng-if="(signupForm.name.$error.required || signupForm.name.$error.minlength)
      && signupForm.name.$touched">
        Name of minimal length 2 is required
      </span>
      <br/>
      Surname:
      <input type="text" name="surname" placeholder="Give us your surname"
      ng-model="ctrl.item.surname"
      required
      minlength="2"
      ng-maxlength="20">
      <span ng-if="(signupForm.surname.$error.required || signupForm.surname.$error.minlength)
       && signupForm.surname.$touched">
        Surname of minimal length 2 is required
      </span>
      <br/>
      Email:
      <input type="email" name="email" placeholder="Give us your email address"
      ng-model="ctrl.item.email"
      required>
      <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
         Must be a valid email address
      </span>
      <br/>
      Telephone:
      <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="Optional ###-###-###"
      ng-model="ctrl.item.phone">
      <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
        Must a valid phone number in the format ###-###-###
      </span>
      <br/>
      Favorite food:
      <input type="text" name="favorite" placeholder="Give us your favorite menu item number"
      ng-model="ctrl.item.favorite">
      <span ng-if="ctrl.favoriteFound == false">
        No such menu number exists
      </span>
      <br/>

     <button
      ng-disabled="signupForm.$invalid"
      ng-click="ctrl.submit()">
      Submit
    </button>

  </form>

  <span ng-if="ctrl.dataSaved">
    Your information has been saved.
  </span>
